body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    scrollbar-width: none; /* hides scrollbar but keeps scrolling */
}

/* 2) IE 10+ / old Edge */
* {
    -ms-overflow-style: none;
}

/* 3) Chrome / Edge / Safari (WebKit/Blink) */
*::-webkit-scrollbar {
    width: 0;
    height: 0;
}
